package layout

templ Shell(title string) {
	@Base(title) {
		<div class="flex flex-col min-h-screen">
			<nav id="nav-placeholder" class="h-16 bg-gray-900 border-b border-gray-800"></nav>
			<main id="main-content" class="flex-1 p-4">
				{ children... }
			</main>
		</div>
	}
}
